<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>

                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="/" class="navbar__logo">
                <span style="color: darkorange;">AugiePilot</span>
            </a>
            <p class="footer__bottom__text">
                © 2026 AugiePilot. Made with ❤️ for Augustana Community.
            </p>
            <ul>
                <li><img src="./assets/icons/instagram.svg" alt="Instagram Logo" class="footer__social__media">
                </li>
                <li><img src="./assets/icons/facebook.svg" alt="Facebook Logo" class="footer__social__media">
                </li>
                <li><img src="./assets/icons/linkedin.svg" alt="Linkedin Logo" class="footer__social__media">
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End of Footer Section -->