<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augie Task Manager</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/flash.css">
    <link rel="stylesheet" href="./css/faq.css">
    <link rel="stylesheet" href="./css/privacy_policy.css">
</head>

<body>
    <!-- Header  -->
    <%- include('../partials/header') %>
        <!-- End of Header -->

        <!-- Main Class -->
        <%- body -%>
            <!-- End of Main Class -->

            <%- include('../partials/footer') %>
                <script src="./assets/js/dashboard.js"></script>
                <script src="./assets/js/home.js"></script>
</body>

</html>