<% layout('layouts/boilerplate') %>

    <section class="about__us">
        <div class="container">
            <h1 style="text-align: center; padding-top: 20px;">Augie Pilot</h1>

            <p class="about__main">
                Augie Pilot is a task management app designed to help users stay organized, manage their workload
                efficiently,
                and boost productivity. The app focuses on simplicity, speed, and ease of use, allowing users to create,
                track,
                and organize tasks in one convenient place.
            </p>

            <p class="about__text">
                Our goal is to build a modern, practical tool that makes daily planning easier, reduces stress, and
                helps
                users stay focused on what matters most.
            </p>
        </div>
    </section>