<% layout('layouts/boilerplate') %>

    <section class="faq">
        <div class="container">
            <h1 class="faq-title">How to Use the AugiePilot App</h1>
            <div class="faq__instructions-wrapper">
                <div class="faq__instructions__card">
                    <h3>How to Sign Up</h3>
                    <p>Click the “Sign Up” button on the top right. Enter your username, email, create a password, and
                        submit.
                        Username and Email must be unique.</p>
                </div>
                <div class="faq__instructions__card">
                    <h3>How to Log In</h3>
                    <p>Click the “Log In” button and enter your username and password. Now you can go to dashboard and
                        start creating and deleting tasks.</p>
                </div>
                <div class="faq__instructions__card">
                    <h3>How to Create a Task</h3>
                    <p>In the main dashboard, type your task in the input field and press “Create Task.”
                        Your task will appear in list immediately.</p>
                </div>
                <div class="faq__instructions__card">
                    <h3>How to Delete a Task</h3>
                    <p>Click the X icon next to the task you want to remove. Confirm deletion if prompted. Deleted
                        tasks cannot be recovered.</p>
                </div>
            </div>
        </div>
    </section>