<% layout('layouts/boilerplate') %>

    <!-- Main Class -->
    <main class="main">
        <!-- Welcome Section -->
        <section class="welcome">
            <div class="container">
                <div class="welcome__info">
                    <div class="welcome__info__box">
                        <p>Augustana Community</p>
                    </div>
                    <h1 class="welcome__info__title">Organize, Prioritize, and Accomplish More!</h1>
                    <p class="welcome__info__description">Build your daily agenda, send tasks to team members, and
                        keep
                        up
                        with what's happening in your Augustana community.</p>
                    <a href="/dashboard" class="welcome__info__dashboard-btn">Dashboard</a>
                </div>
                <img src="./assets/images/people.svg" alt="People Interaction" class="welcome__img">
            </div>
        </section>
        <!-- End of Welcome Section -->

        <section class="features">
            <div class="container">
                <div class="features__info">
                    <h2 class="features__title">Main Features</h2>
                    <p class="features__description">The wise man therefore always holds in these matters to this
                        principle
                        of
                        selection.</p>
                </div>
                <div class="features__cards">
                    <div class="features__card">
                        <img src="./assets/icons/puzzle_icon.svg" alt="Puzzle Icon">
                        <div class="features__card__info">
                            <h4 class="features__card__info-title">Quick Planning</h4>
                            <p class="features__card__info-text">Plan tasks quickly, manage time better, and stay
                                productive with minimal effort.</p>
                        </div>
                    </div>
                    <div class="features__card">
                        <img src="./assets/icons/tasks_icon.svg" alt="Tasks Icon">
                        <div class="features__card__info">
                            <h4 class="features__card__info-title">Task Management</h4>
                            <p class="features__card__info-text">Create, organize, and manage tasks quickly in one
                                place.</p>
                        </div>
                    </div>
                    <div class="features__card">
                        <img src="./assets/icons/paper_icon.svg" alt="Paper Icon">
                        <div class="features__card__info">
                            <h4 class="features__card__info-title">Stay Organized</h4>
                            <p class="features__card__info-text">Keep deadlines clear and your workflow structured and
                                simple.</p>
                        </div>
                    </div>
                    <div class="features__card">
                        <img src="./assets/icons/people_icon.svg" alt="People Icon">
                        <div class="features__card__info">
                            <h4 class="features__card__info-title">Boost Productivity</h4>
                            <p class="features__card__info-text">Focus better, finish tasks faster, and reduce daily
                                stress.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End of Main Class -->