.flash-error {
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 300px;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
}

.flash-success {
    background-color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 300px;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
}